
// Reset
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Comfortaa', cursive;
  background-color: rgba(12, 12, 12, 0.795);
}

// Main
.main-container {

  height: 100vh;

  font-size: 14px;
  max-width: 1024px;
  margin: 0 auto;

}

// Helpers
.flex {
  display: flex;
  flex-wrap: wrap;

  &__column {
    flex-direction: column;
  }
}

.animated {
  -webkit-animation: fadeEffect .5s;
  animation: fadeEffect .5s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
