
// Reset
* {
  margin: 0;
  padding: 0;
}

// Main
.main-container {

  height: 100vh;

  font-size: 14px;
  max-width: 1024px;
  margin: 0 auto;

}

// Helpers
.animated {
  -webkit-animation: fadeEffect .5s;
  animation: fadeEffect .5s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
