
.nav-container {

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  height: 75px;
  background: #333;

  &__item {

    cursor: pointer;
    color: #fff;
    background: #9891f9b3;
    width: 90px;
    height: 75px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: #5d54dceb;
    }

  }

  &__image {
    width: 100%;
    max-width: 227px;
    height: auto;
  }

}

