
@import './navigation.scss';
@import './Entities/person.scss';

* {
  margin: 0;
  padding: 0;
}

.main-container {

  font-size: 14px;
  max-width: 1024px;
  margin: 0 auto;

  height: 100vh;
  background: #959fa730;

}

