
.person {
  $p: &;
  width: auto;
  border: 1px solid #80808075;
  background-color: #dfe0ff;
  display: flex;
  flex-flow: row nowrap;

  &__row {
    margin: 5px;
  }

  &__head,
  &__head-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    user-select: none;
  }

  &__head-item:first {
    margin: 0 25px;
  }

  &__head-item,
  &__head-item-lvl {
    margin: 0 12px;
  }

  &__head-item-lvl {
    display: block;
    border: 2px solid #b15a13ed;
    padding: 4px 6px 2px;
    line-height: 1;
    border-radius: 15%;
  }

  &__head-image {
    width: 100%;
    max-width: 25px;
    max-height: 45px;
    padding: 10px;
  }

  &__body {
    display: none;
    opacity: 0;    
    transition: opacity 2s ease-in-out;
    border-top: 1px solid rgb(8, 6, 6);
  }

  &__body-item {
    margin: 5px;
  }

  &--expand {
    #{$p}__body {
      display: block;
      opacity: 1;
    }
  }

  @media (max-width: 500px) {
    max-width: 100%;
  }
}
